* {
  font-family: "Roboto", sans-serif;
}

.container-box{
  height:7.3rem
}


.fade-in {
  animation: 0.5s fadeIn forwards;
  animation-delay: 0.5s;
}

@keyFrames fadeIn{
  to{
    scale:1;
    opacity:1;
  }
}

